/* Импорт шрифта */
    
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body */

html {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    height: 100vh;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

h4, p {
    margin: 0;
}

/* Header */

.header {
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    height: 50px;
    width: 80px;
    border: 1.18841px solid #FFFFFF;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.logo__title {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}

.logo__img {
    position: absolute;
    left: 11px;
    top: 23px;
}

.nav {
    flex-grow: 1;
}

.nav__menu {
    display: flex;
    align-self: center;
    gap: 6.4%;
    margin-left: 63px;
    padding: 0;
}

.nav__contact-us {
    white-space: nowrap;
}

.nav__li, .design__title{
    text-decoration: none;
    color: #FFFFFF;
}

.nav__li:hover {
    cursor: pointer;
    color: #F9804B;
    transform: scale(1.2);
}

.nav__about {
    color: #F9804B;
}

.nav__about:hover {
    transform: none;
}

.design__title:hover {
    cursor: pointer;
    color: #F9804B;
    transform: scale(1.2);
}

/* main */

/* Watch your favorite animal online */

.watch {
    position: relative;
    height: 780px;
    background: url(../../assets/images/Giant\ Panda.png) no-repeat center/cover;
    margin-top: -80px;
    margin-bottom: 15px;
}

.watch__circle {
    position: absolute;
    top: 11.8%;
    left: 50.4%;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.watch__title {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: 55%;
    top: 21.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.watch__title_color {
    color: #FFEE2E;
}

.btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0px;
    color: #FFFFFF;
}

.watch__btn {
    position: absolute;
    left: 61.5%;
    top: 80.3%;
}

.btn:hover {
    background: #E47209;
    cursor: pointer;
}

.btn:active {
    background: #4B9200;
}

.btn:visited {
    background: #767474;
}

/* The Backstage */

.backstage {
    position: relative;
    display: flex;
    height: 708px;
}

.backstage__wrapper {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
}

.backstage__img {
    width: 609px;
    height: 403px;
    background: url(../../assets/images/bamboo-cap.png);
    backdrop-filter: blur(2px);
}

.backstage__title {
    width: 465px;
}

.backstage__head {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin: 0;
}

.backstage__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-top: 22px;
}

.backstage__text-2 {
    line-height: 138%;
}

.backstage__head-2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
    margin-bottom: 34px;
}

.flower-1 {
    position: absolute;
    right: 0;
    width: 220px;
    height: 605px;   
    background: url(../../assets/images/flower_foto1.png) no-repeat right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Pets */

.pets {
    position: relative;
    height: 1106px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.table__li {
    width: 364px;
    height: 424px;
    border: 1px solid #FA6F32;
    border-radius: 5px;
}

.table__li:hover {
    border: none;
}

.table__li:hover .table__title {
    transform: translateY(-370px);
    transition: 1s;
    color: #FFFFFF;
}

.table__li:hover .table__img::before {
    background-color:rgba(0, 0, 0, .5);
}

.table__li:hover .table__img {
    transform: scale(1.1);
    transition: 1s;
}

.table__li:hover .table__text {
    transform: scale(1.25);
}

.table__img {
    position: relative;
    width: 364px;
    height: 366px;
}

.table__img:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.table__img-panda {
    background: url(../../assets/images/pandas.png);
}

.table__img-eagle {
    background: url(../../assets/images/eagles.png);
}

.table__img-gorilla {
    background: url(../../assets/images/gorillas.png);
}

.table__img-sloth {
    background: url(../../assets/images/slooth.png);
}

.table__img-cheetah {
    background: url(../../assets/images/cheetahs.png);
}

.table__img-penguin {
    background: url(../../assets/images/penguins.png);
}

.table__title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    padding-left: 15px;
}

.table__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.table__text>h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.table__logo-meat {
    background: url(../../assets/icons/meat.svg);
    width: 48px;
    height: 38px;
}

.table__logo-banana {
    background: url(../../assets/icons/banana.svg);
    width: 33px;
    height: 40px;
}

.pets__arrow-left {
    position: absolute;
    left: -7%;
    top: 40.2%;
    content: "";
    background: url(../../assets/icons/arrow_elips_2.svg);
    width: 62px;
    height: 62px;
}

.pets__arrow-left:hover {
    cursor: pointer;
    background: url(../../assets/icons/arrow_elips_2-green.svg)
}

.pets__arrow-right {
    position: absolute;
    right: -7%;
    top: 40.2%;
    content: "";
    background: url(../../assets/icons/arrow_elips_1.svg);
    width: 62px;
    height: 62px;
}

.pets__arrow-right:hover {
    cursor: pointer;
    background: url(../../assets/icons/arrow_elips_1-green.svg)
}

.pets__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower-2 {
    position: absolute;
    background: url(../../assets/images/palm_foto.png) no-repeat;
    width: 300px;
    height: 460px;
    bottom: 0;
}

.flower-3 {
    position: absolute;
    background: url(../../assets/images/strelitzia\ 1.png) no-repeat;
    width: 368px;
    height: 275px;
    right: 0;
    bottom: 0;
}

/* Pick and feed a friend */

.pick {
    height: 1006px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    display: flex;
    align-items: center;
    margin-bottom: 140px;
}

.pick__wrapper {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}

.pick__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 31px;
}

.pick__title-h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: start;
    margin-left: 8.5%;
    margin-bottom: 40px;
}

.pick__text {
    display: block;
    line-height: 130%;
    margin-left: 8.5%;
    margin-bottom: 25px;
}

.pick__text-1 {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.pick__text-2 {
    display: block;
    font-weight: 400;
    margin-right: 18%;
}

.pick__underline {
    border-bottom: 1px solid #FE9013;
    padding-bottom: 2px;
    text-decoration: none;
    color: #000000;
}

.pick__title-h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    margin-bottom: 25px;
}

.pick__cards {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0;
    gap: 30px;
    margin-bottom: 58px;
}

.pick__arrow {
    display: block;
    background: url(../../assets/icons/arrow.svg);
    width: 69px;
    height: 35px;
    margin-bottom: 95px;
}

.pick__card {
    width: 168px;
}

.pick__card-2::after {
    content: '';
    background: url(../../assets/icons/arrow.svg);
}

.pick__icon {
    width: 166px;
    height: 166px;
    border: 1px solid #F9804B;
    border-radius: 5px;
    margin-bottom: 30px;
}

.pick__icon-1 {
    background: url(../../assets/icons/pay.svg) #FFFFFF no-repeat center;
}

.pick__icon-2 {
    background: url(../../assets/icons/zoo.svg) #FFFFFF no-repeat center;
}

.pick__icon-3 {
    background: url(../../assets/icons/monkey.svg) #FFFFFF no-repeat center;
}

.pick__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    height: 48px;
}

.pick__btn {
    align-self: center;
}

/* Testimonials */

.testimonials {
    position: relative;
    height: 775px;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 47px;
}

.testimonials__cards {
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
}

.testimonials__card {
    width: 268px;
    height: 360px;
    border: 2px solid transparent;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    box-shadow: inset 0px 0px 0px 100vw #F1F3F2;
    border-radius: 20px;
    padding: 13px;
}

.testimonials__info {
    display: flex;
}

.testimonials__ava {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    margin-bottom: 11px;
}

.testimonials__ava-1 {
    background: url(../../assets/icons/ava-1.svg);
}

.testimonials__ava-2 {
    background: url(../../assets/images/ava-2.png);
}

.testimonials__ava-3 {
    background: url(../../assets/images/ava-3.png);
}

.testimonials__ava-4 {
    background: url(../../assets/images/ava-4.png);
}

.testimonials__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.testimonials__local {
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 17;
	-webkit-box-orient: vertical;
}

.input-range {
    display: block;
    margin-bottom: 31px;
    width: 599px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 5px;
    height: 8px;
    border: 0.5px solid #FEBDAB;
    background: #F5F7F6;
  }
input[type=range]::-webkit-slider-thumb {
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
    width: 115px;
    height: 7px;
    -webkit-appearance: none;
}

.testimonials__btn {
    align-self: flex-start;
    border-radius: 5px;
}

.flower-4 {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../../assets/images/leav_foto.png);
    width: 250px;
    height: 267px;
}

/* Footer */

.footer {
    background: #111115;
}

.footer__wrapper {
    display: flex;
    padding: 43px 0;
}

.footer__logo {
    margin-bottom: 68px;
}

.footer__btn {
    border-radius: 5px;
    margin-bottom: 49px;
}

.media {
    color: white;
    padding: 0;
    margin-bottom: 0;
}

.media__link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.media__link:hover {
    color: green;
}

.media__fb::before {
    display: inline-block;
    content: '';
    background: url(../../assets/icons/facebook.svg);
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.media__twitter::before {
    display: inline-block;
    content: '';
    background: url(../../assets/icons/twitter.svg);
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.media__ig::before {
    display: inline-block;
    content: '';
    background: url(../../assets/icons/instagram.svg);
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.media__yt::before {
    display: inline-block;
    content: '';
    background: url(../../assets/icons/youtube.svg);
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.media__fb:hover::before {
    background: url(../../assets/icons/facebook-2.svg);
}
.media__twitter:hover::before {
    background: url(../../assets/icons/twitter-2.svg);
}
.media__ig:hover::before {
    background: url(../../assets/icons/instagram-2.svg);
}
.media__yt:hover::before {
    background: url(../../assets/icons/youtube-2.svg);
}

.footer__nav {
    align-self: flex-end;
    margin-left: 103px;
    margin-bottom: 19px;
    flex-grow: 0;
}

.footer__menu {
    justify-content: space-between;
    margin: 0;
    gap: 58px;
}

.footer__form {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.form {
    display: flex;
}

.form__input {
    color: white;
    width: 208px;
    height: 40px;
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    background: none;
    padding: 0 10px;
    margin-right: 10px;
    outline: none;
}

.form__btn {
    width: 128px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    color: #333B41;
    cursor: pointer;
}

input:valid:focus + .form__btn {
    border: 1px solid #4B9200;
    color: green;
}

input:invalid:focus + .form__btn {
    border: 1px solid #D31414;
    color: #D31414;
}

.form__input:valid:focus {
    border: 0.7px solid #4B9200;
}

.form__input:invalid:focus {
    border: 0.7px solid #D31414;
}

.footer__design {
    align-self: flex-end;
    margin-top: 217px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.footer__text {
    margin-bottom: 9px;
}






